*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


h1{
  padding-bottom: 30px;
  font-family: font-family: 'Rubik', sans-serif;
}

.titolo{
  width: 80%;
  text-align: center;
  margin: 30px auto;
}

.rettangoli{
  width: 80%;
  margin: 30px auto;
  background-color: red;
  color: white;
}

.rettangoli div{
  height: 100px;
  width: 285px;
  margin: 20px 10px;
  color: white;
  background-color: red;
  float: left;
}


div img{
  display: inline-block;
  height: 100%;
  float: left;
}

div .title-box{
  display: inline-block;
  text-align: left;
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

div .mestiere{
    display: inline-block;
    font: size 10px;
    text-align: left;
    padding-left: 10px;
    padding-top: 5px;
}

div .email{
    display: inline-block;
    font: size 10px;
    text-align: left;
    padding-left: 10px;
    padding-top: 5px;
}





